@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
* {
  color: rgb(56, 56, 56);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.link {
  cursor: pointer;
}

li,
a,
button,
p {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
  color: rgb(56, 56, 56);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15%;
}
header .crumbs ul {
  list-style: none;
  text-align: end;
}
header .crumbs ul li {
  display: inline-block;
  margin-left: 20px;
}
header .crumbs .logo {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 0, 0, 0.075);
  float: left;
}
header .logo img {
  width: 100px;
  height: 100px;
}

main {
  padding: 15px 15%;
  margin-bottom: 50%;
  position: relative;
  overflow-x: hidden;
}
main .title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 3em;
  color: rgb(56, 56, 56);
  text-decoration: none;
  padding: 0;
  z-index: 1;
}
main .top-container {
  display: flex;
  justify-content: space-around;
  position: relative;
}
main .top-container .box {
  flex: 2;
  padding: 10% 0 0 10%;
  flex-basis: 80%;
}
main .top-container .box p {
  line-height: 200%;
  padding: 3% 45% 0% 0;
  font-size: 1.2em;
  font-weight: 500;
}
main .top-container .box button {
  margin-top: 10%;
  padding: 3% 5% 3% 5%;
  border: none;
  border-radius: 5px;
  background-color: rgb(189, 242, 238);
  font-weight: 400;
}
main .top-container .imgBox {
  flex: 1;
  align-items: center;
}
main .top-container .imgBox .main-cake {
  width: 60%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto -10% auto 0;
  z-index: -1;
}
main .card-container {
  margin-top: 20%;
}
main .card-container .card-title {
  flex-direction: column;
  text-align: center;
  padding-bottom: 5%;
  background-color: none;
}
main .card-container .card-title p {
  line-height: 200%;
}
main .card-container .card-row {
  flex-wrap: wrap;
}
main .card-container div {
  display: flex;
  justify-content: center;
  padding: 0 10%;
}
main .card-container div .card {
  align-items: center;
  border-radius: 20px;
  width: 200px;
  height: 200px;
  margin: 3%;
  transition: ease-in-out 0.3s;
}
main .card-container div .card .card-bg {
  position: absolute;
  overflow: hidden;
  opacity: 0.2;
  width: 140px;
}
main .card-container div .card p {
  color: #edf0f1;
  position: absolute;
  font-weight: 700;
  font-size: 1.8em;
  z-index: 10000;
  text-align: center;
}
main .card-container div .card:nth-child(1) {
  background-color: rgb(148, 211, 212);
}
main .card-container div .card:nth-child(2) {
  background-color: rgb(245, 90, 146);
}
main .card-container div .card:nth-child(3) {
  background-color: rgb(148, 211, 212);
}
main .card-container div .card:nth-child(4) {
  background-color: rgb(196, 139, 70);
}
main .card-container div .card:nth-child(5) {
  background-color: rgb(245, 90, 146);
}
main .card-container div .card:nth-child(6) {
  background-color: rgb(196, 139, 70);
}

.shadow {
  transition: ease-out 0.3s;
}

.shadow:hover {
  transition: ease-in 0.3s;
  box-shadow: 0px 0px 15px gray;
}

@media screen and (max-width: 700px) {
  main .top-container .imgBox .main-cake {
    width: 100%;
    margin-top: 1%;
    margin-right: -30%;
  }
  main .top-container .box {
    padding: 5% 0 0 5%;
    width: 80%;
  }
  main .top-container .box p {
    line-height: 140%;
    font-weight: 400;
  }
  main .card-container .card-title p {
    line-height: 140%;
    font-weight: 400;
  }
  main .card-container .card {
    width: 120px !important;
    height: 120px !important;
    margin: 3% !important;
  }
  main .card-container .card p {
    font-size: 1.1rem !important;
  }
  main .card-container .card .card-bg {
    width: 100px !important;
  }
  header,
  main {
    padding: 15px 5%;
  }
}

/*# sourceMappingURL=style.css.map */
